

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	font-family: 'Julius Sans One', Sans-Serif;
	font-size: 16px;
}

header  {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	font-family: 'Julius Sans One', Sans-Serif;
	z-index: 300;
}

nav {
	text-align: center;
	padding-left: 20px;
}

header img {
	width: 5%;
	padding-left: 50px;

}

nav ul {
	list-style: none;
	display: inline;
}

nav ul li {
	text-transform: uppercase;
	float: left;
	padding: 35px;
	display: inline-block;
	color: #000;
	font-size: 18px;
}

nav ul a li {
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li:hover {
	border-bottom: 3px solid red;
	transition: all 1s;
	cursor: pointer;
}

nav ul button {
	margin: 30px;
	padding: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
}

#hero {
	height: 90vh;
	background: url('../img/downTown.jpg') fixed;
	background-size: cover;
	position: relative;
}

#hero div {
	padding-top: 200px;
	text-align: center;
}

#hero div img:last-child {
	padding-bottom: 100px;
}

#hero p {
	border: solid red;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 30px;
}

.arrow {
	cursor: pointer;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 55;
    right: 675;
}

#main {

}

#main .photo {
	float: left;
	width: 30%;
}

#main .photo img {
	margin: 20px;
	box-shadow: 2px 2px 10px;
}

#main .announcement {
	float: right;
	width: 70%;
}

#main .announcement div {
	width: 80%;
	padding-top: 100px
}

#main .announcement p {
	font-size: 40px;
	padding: 20px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#under-main {
	background: mintcream;
}

#under-main .awards {
	text-align: center;
	padding: 60px 0;
}

#under-main .awards h2 {
	font-size: 21px;
	margin: 20px 0;
}

#under-main .awards ul li {
	padding: 20px;
}

footer {
	background: #000;
	text-align: center;
	padding: 30px;
	color: #fff;
}

footer .contact p {
	display: inline-block;
}

footer .nav ul li {
	display: inline-block;
	border-right: 2px solid #fff;
	padding: 10px;
	cursor: pointer;
}

footer .nav ul li:last-child {
	border-right: none;
}

footer .nav ul li:hover {
	color: yellow;
}

footer .foot {
	padding-bottom: 20px;
}