.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	font-family: 'Julius Sans One', Sans-Serif;
	font-size: 16px;
	background: rgba(245, 245, 220, 0.2);
}

header  {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	font-family: 'Julius Sans One', Sans-Serif;
	z-index: 300;
}

nav {
	text-align: center;
	float: right;
}

nav ul {
	list-style: none;
	display: inline;
}

nav ul li {
	text-transform: uppercase;
	float: left;
	padding: 40px;
	display: inline-block;
}

nav ul a li {
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li:last-child {
	padding: 0px;
}

nav ul li:hover {
	border-bottom: 3px solid #f5f5dc;
}

#hero {
	height: 90vh;
	background: url('../img/poway.jpg') no-repeat;
	background-size: cover;
	position: relative;
}

#hero p {
	border: solid #fff;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 30px;
}

.arrow {
	cursor: pointer;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 55;
    right: 675;
}

.video {
	text-align: center;
	padding: 40px;
}

.video video {
	width: 50%;
	border: 3px solid #000;
}

#introductions {
	width: 80%;
	font-family: 'Monda', Sans-Serif;
	margin: 0 auto;
}

#introductions h1 {
	text-align: center;
	margin: 80px 0;
	font-size: 30px;
	text-transform: uppercase;
}

#introductions .profile {
	margin-bottom: 60px;
}

#introductions .writeUp {
	float: right;
	width: 60%;
}

#introductions .writeUp h2 {
	font-size: 28px;
	margin-bottom: 18px;
}

#introductions .writeUp p {
	line-height: 1.5;
    font-size: 20px;
    text-align: justify;
}

#introductions img {
	width: 28%;
	border: 8px solid #000;
	float: left;
}

footer {
	background: rgba(245, 245, 220, 0.4);
	text-align: center;
	padding: 30px;
}

footer .contact p {
	display: inline-block;
}

footer .nav ul li {
	display: inline-block;
	border-right: 2px solid #000;
	padding: 10px;
	cursor: pointer;
}

footer .nav ul li:last-child {
	border-right: none;
}

footer .nav ul li:hover {
	color: purple;
}

footer .foot {
	padding-bottom: 20px;
}